html {
  background-color: #E4E9FD;
  /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
  background-image: url("../img/background.png");
  background-size: 700px 696.34px;
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 750px;
  font-family: 'helvetica neue';
}


h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

form.item {
  border-bottom: 0;
  margin-left: 10px;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  /* margin: 20px; */
  display: none;
}

.checkbox {
  border-style: none;
  background-color: transparent;
  margin: 0;
  font-size: 1.25rem;
}

#fieldItem {
  margin: 0;
  padding: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position:relative;
  /* display: inline; */
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  background-color: transparent;
  border: 0;
}

form {
  text-align: center;
  margin-left: 20px;
}

input#fieldItem {
  width: 270px;
}

section {
  text-align: center;
  margin-left: 20px;
}

#addBtn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  bottom: 0;
}

/* input:disabled {
  border: none;
  background-color: transparent;
} */

#edit {
  color: #017c71;
}

#edit:hover {
  cursor:grab;
  color: #3a936b;
}

#delete {
  color: #e5574a;
}

#delete:hover {
  cursor:grab;
  color: #ff7131;
}

.clicked {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::selection {
  background-color: #A683E3;
  color: whitesmoke;
}
